*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

.nav-bar-container{
    background-color:#343434;
    min-width:100%;
    height:80px;
}

#nav-bar{
    display:flex;
    min-width:100%;
    height:80px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:11px;
}
#name-span1{
    color:#FF5733;
    font-size:1.7rem;
}
#name-span2{
    color:white;
}
#menu-bar-icon{
    color:white;
    font-size:1.4rem;
    cursor:pointer;
}

#menu-bar-icon:hover{
    color:#FF5733;
    transition:0.8s;
}

#menu-bar-container{
    color:white;
    background-color:#434242;
    min-width:100%;
    min-height:91.1vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative ;
    left: -100%;
    transition: 0.8s;
}
#menu-bar-close-icon{
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 1.3rem;
    transition: 0.8s;
}
#menu-bar-close-icon:hover{
    color: #FF5733;
    cursor: pointer;
}
#menu-bar-items{
    min-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}
.list-items{
    list-style:none;
    font-size:1.3rem;
    font-weight:bold;
    margin-bottom:50px;
    cursor:pointer ;
}

.list-items:hover{
    color:#FF5733 ;
    transition:0.8s;
}
#nav-bar-item-container{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1024px){
    #menu-bar-icon{
        display: none;
    }
    #list-item1{
        display: none;
    }
    #list-item4{
        display: none;
    }
    #list-item5{
        display: none;
    }
    #nav-bar{
        display:flex;
        min-width:100%;
        height:80px;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }
    #nav-bar-item-container{
        display: flex;
        
    }
    #nav-bar-items{
        display: flex;
        flex-direction: row;
    }
}