*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

.nav-bar-container{
    background-color:#343434;
    min-width:100%;
    height:90px;
    position: fixed;
    top: 0px;
}

#nav-bar{
    display:flex;
    min-width:100%;
    height:90px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
#name-span1{
    color:#FF5733;
    font-size:1.5rem;
    margin-left: 30px;
}
#name-span2{
    color:white;
}
#menu-bar-icon{
    color:white;
    font-size:1.3rem;
    cursor:pointer;
    /* margin-right: 30px; */
    position: absolute;
    top: 38px;
    right: 40px;
}

#menu-bar-icon:hover{
    color:#FF5733;
    transition:0.8s;
}

#menu-bar-container{
    color:white;
    background-color:#434242;
    min-width:100%;
    min-height:91.1vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:fixed ;
    bottom: 0px;
    left: -100%;
    transition: 0.5s;
}
#menu-bar-close-icon{
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 1.3rem;
    transition: 0.8s;
}
#menu-bar-close-icon:hover{
    color: #FF5733;
    cursor: pointer;
}
#menu-bar-items{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.list-itemss{
    list-style:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-bottom:50px;
    cursor:pointer ;
}

.list-itemss:hover{
    color:#FF5733 ;
    transition:0.8s;
}
.list-itemss a{
    color: white;
    text-decoration: none;
}
#nav-bar-item-container{
    display: none;
}
#body-main-container{
    margin-top: 90px;
    margin-bottom: 70px;
}
.profile-img-container{
    display: flex;
    justify-content: center;
}
.profile-img-container2{
    display: none;
}
#profile-img{
    width:300px;
    height: 300px;
    border: none;
    border-radius: 100%;
    margin-top: 50px;
    
}
.body-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0px 45px 0px;
    align-items: center;
}
#body-greeting{
    text-transform:uppercase;
}
#body-name-container{
    font-size: 2rem;
}
#body-name-span{
    color: #FF5733;
    font-weight:700;
}
#body-job{
    font-size: 1.3rem;
    font-weight: 500;
}
#body-welcome{
    font-size: 0.9rem;
    margin-top: 7px;
    letter-spacing: 2px;
}
#body-button-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#hire-me-button{
    padding: 10px 20px;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    background-color: #FF5733;
    color: white;
    margin-right: 10px;
    border: 1.5px solid #FF5733;
    cursor: pointer;
    
}
#hire-me-button:hover{
    background-color: white;
    border: 1.5px solid #343434;
    color: #343434;
    transition: 0.8s;
}
#my-works-button{
    border: 1.5px black solid;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    padding: 10px 17px;
    cursor: pointer;
    
}
#my-works-button:hover{
    background-color: #343434;
    color: white;
    transition: 0.8s;
}



/* about page style for mobile*/
.about-page-container{
    background-color: #343434;
    color: white;
    padding: 25px;
}
#body-heading-container{
    margin: 20px 0px 25px 0px;
}
#body-heading{
    font-size: 1.7rem;
    text-align: center;
}
#body-heading-span{
    color: #FF5733;
}
#about-page-img-container{
    display: none;
}
#about-para-container{
    margin-bottom: 25px;
}
#about-para{
    text-align:start;
    line-height: 1.6rem;
    word-spacing: 0.3rem;
    color: lightgrey;
}
#about-para2{
    display: none;
}
#about-para-btn-container{
    margin-bottom: 25px;
}
#about-para-btn{
    background-color: #343434;
    border: 1.5px #FF5733 solid;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    padding: 10px 17px;
    cursor: pointer;
}
#about-para-btn a{
    color: #FF5733;
    text-decoration: none;
}
#about-para-btn:hover{
    background-color: white;
    transition: 0.8s;
}
#body-table{
    width: 100%;
    border-spacing: 7px 25px;
}
.table-keys{
    font-weight: 600;
}
.table-values{
    color: lightgrey;
}
.table-values a{
    color: lightgrey;
    text-decoration: none;
}


/* tablet screen 850px- 1024px */
@media screen and (min-width:850px) and (max-width:1024px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }

    #list-item7, #list-item5{
        margin-left: 15px;
    }
    #list-item1, #list-item3, #list-item4{
        display: none;
    }
    #list-item6{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left: 60px;
        margin-right: 60px;
        transition: 0.8s;
    }
    #list-item6:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 30px;
    }
    .nav-bar-container{
        height: 100px;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        color: white;
        /* position: absolute;
        top: 38px;
        right: 50px; */
    } 
    .list-items{
        list-style:none;
        font-size:1.1rem;
        font-weight:bold;
        cursor:pointer ;
    }
    
    .list-items:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    .list-items a{
        color: white;
        text-decoration: none;
    }
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
    }
    #body-name-container{
        font-size: 2.8rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 1.9rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 15px 29px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
        margin-right: 20px;
    }
    #hire-me-button:hover{
        background-color: white;
        border: 1.5px solid #343434;
        color: #343434;
        transition: 0.8s;
    }
    #my-works-button{
        padding: 15px 26px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
    }
    #my-works-button:hover{
        background-color: #343434;
        color: white;
        transition: 0.8s;
    }

    /* about page style for tablet*/
    .about-page-container{
        display: none;
    }
}



/* Desktop screen above 1025px to 1200px*/
@media screen and (min-width:1025px) and (max-width:1200px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }
    .nav-bar-container{
        height: 100px;
    }
    #list-item1{
        color:#FF5733;
    }
     #list-item1, #list-item2,#list-item3,#list-item4,#list-item5{
        margin-left: 25px;
    }
    #list-item7{
        display: none;
    } 
    #list-item6{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left:70px;
        margin-right: 110px;
        transition: 0.8s;
    }
    #list-item6:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 60px;
    }
    #name-span1{
        font-size: 2rem;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        color: white;
    } 
    .list-items{
        list-style:none;
        font-size:1rem;
        font-weight:bold;
        cursor:pointer ;
    }
    
    .list-items:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    .list-items a{
        color: white;
        text-decoration: none;
    }
    #body-main-container{
        min-width: 100%;
        
    }
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
        
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
        font-size: 1rem;
    }
    #body-name-container{
        font-size: 3rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 2rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 15px 29px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
    }
    #hire-me-button:hover{
        background-color: white;
        border: 1.5px solid #343434;
        color: #343434;
        transition: 0.8s;
    }
    #my-works-button{
        padding: 15px 26px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
    }
    #my-works-button:hover{
        background-color: #343434;
        color: white;
        transition: 0.8s;
    }

    /* about page style for Desktop*/
    
    .about-page-container{
        display: none;
    }

}


/* Desktop screen above 1201px */
@media screen and (min-width:1201px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }
    .nav-bar-container{
        height: 100px;
    }
    #list-item1{
        color:#FF5733;
    }
     #list-item1, #list-item2,#list-item3,#list-item4,#list-item5{
        margin-left: 25px;
    }
    #list-item7{
        display: none;
    } 
    #list-item6{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left:50px;
        margin-right: 120px;
        transition: 0.8s;
    }
    #list-item6:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 60px;
    }
    #name-span1{
        font-size: 2rem;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: white;
    } 
    .list-items{
        list-style:none;
        font-size:1rem;
        font-weight:bold;
        /* margin-bottom:50px; */
        cursor:pointer ;
    }
    
    .list-items:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    .list-items a{
        color: white;
        text-decoration: none;
    }
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 110px;
        margin-bottom: 100px;
        
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
        font-size: 1rem;
    }
    #body-name-container{
        font-size: 3rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 2rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 15px 29px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
    }
    #hire-me-button:hover{
        background-color: white;
        border: 1.5px solid #343434;
        color: #343434;
        transition: 0.8s;
    }
    #my-works-button{
        padding: 15px 26px;
        border-radius: 24px;
        font-size: 0.9rem;
        cursor: pointer;
    }
    #my-works-button:hover{
        background-color: #343434;
        color: white;
        transition: 0.8s;
    }

    /* about page style for Desktop*/
    #about-page-sub-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #body-heading-container{
        margin: 0px 0px 55px 0px;
    }
    #about-para-btn-container{
        display: none;
    }
    .about-page-container{
        background-color: #343434;
        color: white;
        padding: 40px;
    }
    
    #body-heading{
        font-size: 2rem;
        text-align: center;
    }
    #body-heading-span{
        color: #FF5733;
    }
    #about-page-img-container{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       width: 35%;
       
    }
    #about-page-img-container img{
        width: 330px;
        height: 460px;
        border-radius: 50%;
    } 
    .about-page-content-container{
        width: 50%;
        margin-right: 30px;
    }
    #about-para-container{
        margin-bottom: 25px;
    }
    #about-para{
      display: none;
    }
    #about-para2{
        display: block;
        text-align:start;
        line-height:2.1rem;
        word-spacing: 0.6rem;
        color: lightgrey;
    }
    #body-table{
        width: 100%;
        border-spacing: 5px 25px;
    }
    .table-keys{
        font-weight: 600;
    }
    .table-values{
        color: lightgrey;
    }

}