*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #343434;
}

.nav-bar-container{
    background-color:#343434;
    min-width:100%;
    height:90px;
    position: fixed;
    top: 0px;
}

#nav-bar{
    display:flex;
    min-width:100%;
    height:90px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
#name-span1{
    color:#FF5733;
    font-size:1.5rem;
    margin-left: 30px;
}
#name-span2{
    color:white;
}
#menu-bar-icon{
    color:white;
    font-size:1.3rem;
    cursor:pointer;
    /* margin-right: 30px; */
    position: absolute;
    top: 38px;
    right: 40px;
}

#menu-bar-icon:hover{
    color:#FF5733;
    transition:0.8s;
}

#menu-bar-container{
    color:white;
    background-color:#434242;
    min-width:100%;
    min-height:91.1vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:fixed ;
    bottom: 0px;
    left: -100%;
    transition: 0.5s;
}
#menu-bar-close-icon{
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 1.3rem;
    transition: 0.8s;
}
#menu-bar-close-icon:hover{
    color: #FF5733;
    cursor: pointer;
}
#menu-bar-items{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.list-itemss{
    list-style:none;
    font-size:1.2rem;
    font-weight:bold;
    margin-bottom:50px;
    cursor:pointer ;
}
.list-itemss a{
    color: white;
    text-decoration: none;
}
.list-itemss a:hover{
    color:#FF5733 ;
    transition:0.8s;
}

#nav-bar-item-container{
    display: none;
}
#body-main-container{
    background-color: white;
    padding: 100px 0px 60px 0px;
}

.profile-img-container{
    display: flex;
    justify-content: center;
}
.profile-img-container2{
    display: none;
}
#profile-img{
    width:300px;
    height: 300px;
    border: none;
    border-radius: 100%;
    margin-top: 50px;
    
}
.body-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    align-items: center;
}
#body-greeting{
    text-transform:uppercase;

}
#body-name-container{
    font-size: 2rem;
}
#body-name-span{
    color: #FF5733;
    font-weight:700;
}
#body-job{
    font-size: 1.3rem;
    font-weight: 500;
}
#body-welcome{
    font-size: 0.9rem;
    margin-top: 7px;
    letter-spacing: 2px;
}
#body-button-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hire-me-button{
    color: white;
    text-decoration: none;  
    padding: 10px 25px;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    background-color: #FF5733;
    margin-right: 10px;
    border: 2px solid #FF5733;
    cursor: pointer;
   
}
#hire-me-button:hover{
    background-color: white;
    /* border: 1.5px solid #343434; */
    color: #FF5733;
    transition: 0.8s;
}
#my-works-button{
    color: black;
    text-decoration: none;
    border: 1px black solid;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    padding: 10px 17px;
    cursor: pointer; 
}
#my-works-button:hover{
    background-color: #343434;
    color: white;
    transition: 0.8s;
}



/* about page style for mobile*/
#about-page-container3{
    display: none;
}
#about-page-container{
    color: white;
    padding: 30px;
}
#body-heading-container{
    margin-bottom:30px;
}
#body-heading{
    font-size: 1.7rem;
    text-align: center;
}
#body-heading-span{
    color: #FF5733;
}
#about-page-img-container{
    display: none;
}
#about-para-container{
    margin-bottom: 25px;
}
#about-para{
    text-align:start;
    line-height: 1.68rem;
    font-size: 0.9rem;
    word-spacing: 0.3rem;
    color: lightgrey;
    margin-bottom: 25px;
}
#about-para2{
    display: none;
}
#para3-container{
    display: none;
}
#about-para3{
    text-align:start;
    line-height: 1.68rem;
    font-size: 0.9rem;
    word-spacing: 0.3rem;
    color: lightgrey;
    margin-bottom: 25px;
}
#about-para-btn1{
    background-color: #343434;
    border: 1.5px #FF5733 solid;
    color: #FF5733;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    padding: 10px 17px;
    cursor: pointer;
}
#about-para-btn1:hover{
    background-color: white;
    transition: 0.8s;
}
#about-para-btn2{
    background-color: #343434;
    border: 1.5px #FF5733 solid;
    color: #FF5733;
    border-radius: 23px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform:uppercase;
    padding: 10px 17px;
    cursor: pointer;
}
#about-para-btn2:hover{
    background-color: white;
    transition: 0.8s;
}
#body-table{
    width: 100%;
    border-spacing: 7px 25px;
    margin-bottom: 10px;
}
.table-keys{
    font-weight: 600;
}
.table-values{
    color: lightgrey;
    font-size: 0.9rem;
}
.table-values a{
    color: lightgrey;
    text-decoration: none;
    font-size: 0.9rem;
}
#about-email:hover{
    color: white;
}


/* Resume Page */
.resume-page-container{
    padding: 25px;
}
#resume-heading-container{
    text-align: center;
    margin-bottom: 30px;
}
#resume-heading-container h1{
    color: white;
    font-size: 1.7rem;
}
#resume-heading-container h1 span{
    color: #FF5733;
}
.education-main-container{
    width: 90%;
    height: fit-content;
    padding: 20px;
    background-color: #434242;
    margin: auto;
    border: none;
    border-radius: 12px;
}
.education-main-container:hover{
    transform: scale(1.1,1.1);
}
.education-main-container h4{
    color: #FF5733;
    font-size: 0.85rem;
    margin-bottom: 5px;
}
.education-main-container h3{
    color: lightgrey;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.education-main-container h5{
    color: lightgrey;
    font-size: 0.82rem;
    margin-bottom: 10px;
}
.education-main-container p{
    color: white;
}


/* skill page */

.skill-page-container{
    padding: 25px;
}
#skill-heading-container{
    text-align: center;
    margin-bottom: 30px;
}
#skill-heading{
    font-size: 1.7rem;
    color: white;
}
#skill-heading span{
    color: #FF5733;
}
#skills-main-container{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-sub-heading-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill-sub-heading-container h4{
    color: lightgrey;
    font-size: 0.9rem;
}
.skill-sub-heading-container p{
    color: white;
    font-size: 0.9rem;
}
.skills{
    width: 92%;
}
.skills-container{
    width: 100%;
    height: 7px;
    background-color: #4b4a4a;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;
}
#web-container{
    margin-bottom: 0px;
}
#html{
    width: 95%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: html 2s;
}
@keyframes html{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 95%;
	}
}
#css{
    width: 90%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: css 2s;
}
@keyframes css{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 90%;
	}
}
#sass{
    width: 90%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: sass 2s;
}
@keyframes sass{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 90%;
	}
}
#js{
    width: 80%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: js 2s;
}
@keyframes js{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}
#angular{
    width: 60%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: angular 2s;
}
@keyframes angular{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 60%;
	}
}
#git-github{
    width: 80%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: git 2s;
}
@keyframes git{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}
#web-development{
    width: 85%;
    height: 7px;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    background-color: #FF5733;
    animation: web 2s;
}
@keyframes web{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 85%;
	}
}

/* project design */

#project-page-main-container{
    background-color: #343434;
    padding: 25px;
}
.project-page-heading-container{
    text-align: center;
    margin-bottom: 30px;
    /* margin: 36px 0px 40px 0px;
    padding: 10px; */
}
#project-page-heading{
    font-size: 1.7rem;
    color: white;
}
#project-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-img-container{
    text-align: center;
}
.project-container{
    width:77%;
    height: fit-content;
    border: 2px solid lightgrey;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.project-container:hover{
    background-color: grey;
    border: 2px solid black;
    color: white;
    transition: 0.8s;
}

.project-img-container img{
    width: 90%;
    height: 18vh;
    box-shadow:2px 2px 25px brown;
    /* border: 6px solid #FF5733; */
    /* height: 100px; */
}
.project-content-container{
    text-align: center;
}
.project-heading{
    margin:10px 0px 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FF5733;
}
.project-description{
    font-size:0.8rem;
    font-weight: 500;
    /* line-height: 1.68rem;
    word-spacing: 0.3rem; */
}


/* contact page design */

.contact-page-container{
    background-color: white;
    padding: 50px;
}
#contact-heading-container{
    text-align: center;
}
#contact-heading-container h1{
    font-size: 1.7rem;
    margin-bottom: 30px;
}
#contact-heading-container h1 span{
    color: #FF5733;
}
#contact-form-container{
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contact-inputs{
    width: 310px;
    height: 50px;
    border: 2px solid #343434;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1rem;
}

.contact-inputs:focus{
    border: 2px solid brown ;
}
#contact-form-container textarea{
    height: 140px;
    padding-top: 15px;  
}
#contact-button{
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color:black;
    color: white;
    border: 1.5px solid black;
    cursor: pointer;

}

#contact-button:hover{
    background-color: #FF5733;
    color: white;
    border:1.5px solid brown ;
    text-shadow: 2px 2px 4px white;
}


/* footer style */
#footer-main-container{
    background-color: black;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.footer-list-container ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.footer-list-container ul li{
    list-style: none;
    margin-right: 12px;
    font-size: 0.9rem;

}
.footer-list-container ul li a:hover{
    color: white;
}
.footer-list-container ul li a{
    text-decoration: none;
    color: brown;
}
.footer-para-container p{
    font-size: 0.68rem;
    margin-bottom: 10px;
}
.copy-right-container h6{
    font-weight: 600;
}




/* tablet screen above 768px*/
@media screen and (min-width:768px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }
    #name-span1{
        font-size: 1.8rem;
    }
    #list-item3,#list-item4, #list-item5{
        margin-left: 15px;
    }
    .list-items a{
        list-style:none;
        font-size:1.1rem;
        font-weight:bold;
        color: white;
        text-decoration: none;
        cursor:pointer ;
    }
    
    .list-items a:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    #list-item6 a{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left: 60px;
        margin-right: 60px;
        transition: 0.8s;
    }
    #list-item6 a:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 30px;
    }
    .nav-bar-container{
        height: 100px;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        color: white;
    } 
   
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 105px 0px 60px 0px;
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
    }
    #body-name-container{
        font-size: 2.8rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 1.9rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 14px 29px;
        border-radius: 30px;
        font-size: 0.9rem;
        margin-right: 20px;
    }
    #my-works-button{
        padding: 14px 23px;
        border-radius: 30px;
        font-size: 0.9rem;
    }
    
    /* about page style for tablet*/
    #about-page-container{
        display: none;
    }
    #about-page-container3{
        display: block;
        padding: 60px;
    }
    #about-heading3{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 40px;
        color: white;
    }
    #about-heading3 span{
        color: #FF5733;
    }
    #about-tablet-para-container3{
        margin-bottom: 25px;
    }
    #about-tablet-para-container3 p{
        text-align:start;
        line-height: 2.1rem;
        word-spacing: 0.5rem;
        color: lightgrey;
        margin-bottom: 25px;
    }
    #body-table3{
        width: 100%;
        border-spacing: 7px 25px;
        margin-bottom: 10px;
    }
    .table-keys3{
        color: white;
        font-weight: 600;
    }
    .table-values3{
        color: lightgrey;
    }
    .table-values3 a{
        color: lightgrey;
        text-decoration: none;
    }
    /* #about-page-container{
        padding: 60px;
    }
    #body-heading-container{
        margin:0px 0px 40px 0px;
    }
    #body-heading{
        font-size: 2rem;
    }
    #para1-container{
        display: none;
    }
    #about-para2{
        display: block;
        text-align:start;
        line-height: 2.1rem;
        word-spacing: 0.5rem;
        color: lightgrey;
    }
    .table-values{
        font-size: 1rem;
    } */
    /* resume page */
    .resume-page-container{
        padding: 35px;
    }
    #resume-heading-container{
        margin-bottom: 50px;
    }
    #resume-heading-container h1{
        font-size: 2rem;
    }
    .education-main-container{
        padding: 25px 25px 25px 35px;
        width: 60%;
        margin-bottom: 10px; 
    }
    .education-main-container h4{
        font-size: 1.2rem;
    }
    .education-main-container h3{
        font-size: 1.5rem;
    }
    .education-main-container h5{
        font-size: 1.06rem;
    }
    .education-main-container p{
        font-size: 1.4rem;
    }

    /* skill page */
    #skill-page-link{
        margin-bottom: 25px;
    }
    .skill-page-container{
        padding: 40px;
    }
    #skill-heading-container{
        margin-bottom: 40px;
    }
    #skill-heading{
        font-size: 2rem;
    }
    #skills-main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skill-sub-heading-container h4{
        font-size: 1rem;
    }
    .skill-sub-heading-container p{
        font-size: 1rem;
    }
    .skills{
        width: 68%;
    }
    .skills-container{
        width: 100%;
        height: 8px;
    }
    #html{
        width: 95%;
        height: 8px;
    }
    #css{
        width: 90%;
        height: 8px;
    }
    #sass{
        width: 90%;
        height: 8px;
    }
    #js{
        width: 80%;
        height: 8px;
    }
    #angular{
        width: 60%;
        height: 8px;
    }
    #git-github{
        width: 80%;
        height: 8px;
    }
    #web-development{
        width: 85%;
        height: 8px;
    }
    #web-container{
        margin-bottom: 0px;
    }

    /* project page */
    #project-page-link{
        margin-bottom: 0px;
        font-size: 0.1rem;
    }
    #project-page-main-container{
        padding: 40px;
    }
    .project-page-heading-container{
        margin-bottom: 40px;
    }
    #project-page-heading{
        font-size: 2rem;
    }
    .project-container{
        width: 55%;
        height: fit-content;
        margin-right: 25px;
    }
    .project-container:hover{
        transform: scale(1.1,1.1);
    }
    .project-img-container{
        margin-top: 15px;
    }
    .project-heading{
        font-size: 1.4rem;
        margin:15px 0px 15px 0px;
    }
    .project-description{
        font-size:1rem;
        margin-bottom: 15px;
        word-spacing: 0.2rem;
    }

    /* contact page */
    .contact-page-container{
        padding: 40px;
    }
    #contact-heading-container{
        margin-bottom: 40px;
    }
    #contact-heading-container h1{
        font-size: 2rem;
    }
    #contact-form-container{
        gap: 22px;
    }
    .contact-inputs{
        width:550px ;
        height: 60px;
        font-size: 1.08rem;
        /* background-color: rgb(239, 236, 236); */
    }
    #contact-form-container textarea{
        height: 220px;
        padding-top: 20px;  
    }
    #contact-button{
        padding: 15px 25px;
    }

    /* footer page */
    .footer-list-container ul li{
        font-size: 1.1rem;
        margin-right: 23px;
    }
    .footer-para-container p{
        font-size: 0.8rem;
        word-spacing: 0.04rem;
        letter-spacing: 0.1rem;
    }
    .copy-right-container h6{
        font-weight: 600;
        font-size: 0.7rem;
    }
    
}




/* Desktop screen above 1025px to 1200px*/
@media screen and (min-width:1024px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }
    .nav-bar-container{
        height: 100px;
    }
    #list-item1{
        color:#FF5733;
    }
     #list-item1, #list-item2,#list-item3,#list-item4,#list-item5{
        margin-left: 25px;
    }
    #list-item7{
        display: none;
    } 
    #list-item6 a{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left:70px;
        margin-right: 110px;
        transition: 0.8s;
    }
    #list-item6 a:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 60px;
    }
    #name-span1{
        font-size: 2rem;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        color: white;
    } 
    .list-items a{
        list-style:none;
        font-size:1rem;
        font-weight:bold;
        cursor:pointer ;
        color: white;
        text-decoration: none;
    }
    
    .list-items a:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    #body-main-container{
        min-width: 100%;
        
    }
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 105px 0px 60px 0px;
        
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
        font-size: 1rem;
    }
    #body-name-container{
        font-size: 3rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 2rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 14px 29px;
        border-radius: 30px;
        font-size: 0.9rem;
    }
    #my-works-button{
        padding: 14px 23px;
        border-radius: 30px;
        font-size: 0.9rem;
        border: 2px solid #343434;
    }

    /* about page style for Desktop*/
    #about-page-container3{
        display: none;
    }
    #about-page-container{
        display: block;
        padding: 40px;   
    }
    #about-page-sub-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
    }
    #body-heading-container{
        margin-top:0px;
        margin-bottom: 40px;
    }
    #about-para-btn-container{
        display: none;
    }
    
    #body-heading{
        font-size: 2rem;
    }
    #about-page-img-container{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       width: 35%;
       
    }
    #about-page-img-container img{
        width: 310px;
        height: 440px;
        border-radius: 50%;
    } 
    .about-page-content-container{
        width: 50%;
        /* margin-right: 30px; */
    }
    
    #para1-container{
      display: none;
    }
    #about-para2{
        font-size: 1rem;
        display: block;
        text-align:start;
        line-height:2.1rem;
        word-spacing: 0.5rem;
        color: lightgrey;
    }
    #body-table{
        border-spacing: 5px 25px;
        margin-bottom: 0px;
    }
    .table-keys{
        font-size: 1rem;
    }
    .table-values{
        font-size: 1rem;
    }

    /* resume page  */
    .resume-page-container{
        padding: 40px;
    }
    #resume-heading-container{
        margin-bottom: 40px;
    }
    #resume-heading-container h1{
        font-size: 2rem;
    }
    .education-main-container{
        padding: 25px 25px 25px 35px;
        width: 35%;
        margin-bottom: 30px; 
    }
    .education-main-container h4{
        font-size: 1.2rem;
    }
    .education-main-container h3{
        font-size: 1.2rem;
    }
    .education-main-container h5{
        font-size: 1rem;
    }
    .education-main-container p{
        font-size: 1.2rem;
    }
    #resume-education-container{
      
        /* margin: 0px 100px 0px 80px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #item1{
        margin-left: 125px;
    }
    #item2{
        margin-right: 125px;
    }
    #item3{
        margin-left: 125px;
    }
    #item4{
        margin-right: 125px;
    }

    /* skill page */
    #skill-heading{
        font-size: 2rem;
    }
    #skills-main-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skills{
        flex-basis: 35%;
        margin-left: 100px;
    }
    /* project page */
    #project-page-main-container{
        padding: 40px;
    }
    .project-page-heading-container{
        margin-bottom: 40px;
    }
    #project-page-heading{
        font-size: 2rem;
    }
    #project-main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .project-container{
        width: 28%;
        height: fit-content;
        margin-right: 25px;
    }
    .project-container:hover{
        transform: scale(1.1,1.1);
    }
    .project-img-container{
        margin-top: 15px;
    }
    .project-heading{
        font-size: 1.3rem;
    }
    .project-description{
        font-size:0.9rem;
        margin-bottom: 15px;
    }
    /* contact page */
    .contact-page-container{
        padding: 40px;
    }
    #contact-heading-container{
        margin-bottom: 40px;
    }
    #contact-heading-container h1{
        font-size: 2rem;
    }
    #contact-form-container{
        gap: 22px;
    }
    .contact-inputs{
        width:700px ;
        height: 60px;
        font-size: 1.08rem;
        /* background-color: rgb(239, 236, 236); */
    }
    #contact-form-container textarea{
        height: 220px;
        padding-top: 20px;  
    }
    #contact-button{
        padding: 12px 22px;
    }

    /* footer style */
    .footer-list-container ul li{
        font-size: 1.1rem;
        margin-right: 30px;
    }
    .footer-para-container p{
        font-size: 0.9rem;
        word-spacing: 0.05rem;
        letter-spacing: 0.1rem;
    }
    .copy-right-container h6{
        font-weight: 600;
        font-size: 0.85rem;
    }
}


/* Desktop screen above 1201px */
@media screen and (min-width:1200px){
    #menu-bar-icon{
        font-size: 0.2rem;
        display: none;
    }
    .nav-bar-container{
        height: 100px;
    }
     #list-item1, #list-item2,#list-item3,#list-item4,#list-item5{
        margin-left: 25px;
    }
    .list-items a{
        list-style:none;
        font-size:1rem;
        font-weight:bold;
        color: white;
        text-decoration: none;
        cursor:pointer ;
    }
    .list-items a:hover{
        color:#FF5733 ;
        transition:0.8s;
    }
    
    #list-item6 a{
        background-color: white;
        color:#343434;
        border: none;
        border-radius: 5px;
        padding: 3px 17px;
        margin-left: 60px;
        margin-right: 60px;
        text-decoration: none;
        transition: 0.8s;
    }
    #list-item6 a:hover{
        background-color: #FF5F15;
        color: white;
        box-shadow: 0 2px 10px 0 #FF5F15, 0 2px 12px 0 #FF5F15;
    }
    #name-container{
        margin-left: 60px;
    }
    #name-span1{
        font-size: 2rem;
    }
    #nav-bar{
        height:100px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    #nav-bar-item-container{ 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: white;
    } 
    
    #body-main-container{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 120px 0px 90px 0px;
    }
    .profile-img-container{
        display: none;
        
    }
    .profile-img-container2{
        display: block;
        margin-top: 15px;
    }
    .body-container{
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: normal;
        margin: 60px 10px 0px 0px;
    }
    #body-button-container{
        display: flex;
        flex-direction: row;
        justify-content: normal;
    }
    .profile-img-container2{
        margin-left: 10px;
    }
     #profile-img{
        min-width: 340px;
        min-height: 470px;
        border-radius: 50%;
    } 
    #body-greeting{
        font-weight: 600;
        font-size: 1rem;
    }
    #body-name-container{
        font-size: 3rem;

    }
    #body-name-span{
        font-weight: 800px;
    }
    #body-job{
        font-size: 2rem;
    }
    #body-button-container{
        margin-top: 27px;
    }
    #hire-me-button{
        padding: 14px 29px;
        border-radius: 30px;
        font-size: 0.9rem;
    }
    #my-works-button{
        padding: 14px 23px;
        border-radius: 30px;
        font-size: 0.9rem;
        border: 2px solid #343434;
    }

    /* about page style for Desktop*/
    #about-page-container3{
        display: none;
    }
    #about-page-container{
        display: block;
        padding: 40px;   
    }
    #about-page-sub-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #body-heading-container{
        margin-top:0px;
        margin-bottom: 40px;
    }
    #about-para-btn-container{
        display: none;
    }
    
    #body-heading{
        font-size: 2rem;
    }
    #about-page-img-container{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       width: 35%;
       
    }
    #about-page-img-container img{
        width: 330px;
        height: 460px;
        border-radius: 50%;
    } 
    .about-page-content-container{
        width: 50%;
        margin-right: 30px;
    }
    #about-para-container{
        margin-bottom: 25px;
    }
    #para1-container{
      display: none;
    }
    #about-para2{
        font-size: 1rem;
        display: block;
        text-align:start;
        line-height:2.1rem;
        word-spacing: 0.5rem;
        color: lightgrey;
    }
    #body-table{
        border-spacing: 5px 25px;
        margin-bottom: 0px;
    }
    .table-keys{
        font-size: 1rem;
    }
    .table-values{
        font-size: 1rem;
    }

    /* resume page  */
    .resume-page-container{
        padding: 40px;
    }
    #resume-heading-container{
        margin-bottom: 40px;
    }
    #resume-heading-container h1{
        font-size: 2rem;
    }
    .education-main-container{
        padding: 25px 25px 25px 35px;
        width: 35%;
        margin-bottom: 30px; 
    }
    .education-main-container h4{
        font-size: 1.2rem;
    }
    .education-main-container h3{
        font-size: 1.5rem;
    }
    .education-main-container h5{
        font-size: 1.06rem;
    }
    .education-main-container p{
        font-size: 1.4rem;
    }
    #resume-education-container{
      
        /* margin: 0px 100px 0px 80px; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #item1{
        margin-left: 150px;
    }
    #item2{
        margin-right: 150px;
    }
    #item3{
        margin-left: 150px;
    }
    #item4{
        margin-right: 150px;
    }

    /* skill page */
    #skill-heading{
        font-size: 2rem;
    }
    #skills-main-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skills{
        flex-basis: 35%;
        margin-left: 140px;
    }
    /* project page */
    #project-page-main-container{
        padding: 40px;
    }
    .project-page-heading-container{
        margin-bottom: 40px;
    }
    #project-page-heading{
        font-size: 2rem;
    }
    #project-main-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .project-container{
        width: 28%;
        height: fit-content;
        margin-right: 25px;
    }
    .project-container:hover{
        transform: scale(1.1,1.1);
    }
    .project-img-container{
        margin-top: 15px;
    }
    .project-description{
        font-size:0.9rem;
        margin-bottom: 15px;
    }

    /* contact page */
    .contact-page-container{
        padding: 40px;
    }
    #contact-heading-container{
        margin-bottom: 40px;
    }
    #contact-heading-container h1{
        font-size: 2rem;
    }
    #contact-form-container{
        gap: 25px;
    }
    .contact-inputs{
        width:720px ;
        height: 70px;
        font-size: 1.08rem;
        /* background-color: rgb(239, 236, 236); */
    }
    #contact-form-container textarea{
        height: 220px;
        padding-top: 20px;  
    }
    #contact-button{
        padding: 15px 25px;
    }

    /* footer style */
    .footer-list-container ul li{
        font-size: 1.1rem;
        margin-right: 30px;
    }
    .footer-para-container p{
        font-size: 0.9rem;
        word-spacing: 0.05rem;
        letter-spacing: 0.1rem;
    }
    .copy-right-container h6{
        font-weight: 600;
        font-size: 0.85rem;
    }
}