*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #343434;
}
.about-page-container{
    background-color: #343434;
    color: white;
    padding: 30px;
}
#body-heading-container{
    margin: 20px 0px 35px 0px;
}
#body-heading{
    font-size: 1.8rem;
    text-align: center;
}
#body-heading-span{
    color: #FF5733;
}
#about-para-container{
    margin-bottom: 25px;
}
#about-para{
    text-align:start;
    line-height: 1.7rem;
    word-spacing: 0.32rem;
    color: lightgrey;
}